In [1]:
import pandas as pd

In [2]:
print("You are welcome to Pyladies Confectionaries! We hope to offer you the best\n")
print("Below is our food menu list,please check it out")
def inventory():
    Data = [['Jollof Rice', 300, 100],['Fried Rice',400 ,80],
            ['Beans',200 ,65],['Spaghetti', 350, 70],['White Rice',250, 50]]
    df = pd.DataFrame(Data,columns=['Food Menu','Prices(N)','Quantity'])
    return df
IVT = inventory()
IVT

You are welcome to Pyladies Confectionaries! We hope to offer you the best

Below is our food menu list,please check it out

     Food Menu  Prices(N)  Quantity
0  Jollof Rice        300       100
1   Fried Rice        400        80
2        Beans        200        65
3    Spaghetti        350        70
4   White Rice        250        50

In [5]:
print("Below is our food menu list\n","\n",IVT)

Below is our food menu list

      Food Menu  Prices(N)  Quantity
0  Jollof Rice        300       100
1   Fried Rice        400        80
2        Beans        200        65
3    Spaghetti        350        70
4   White Rice        250        50

In [3]:
print("We have newer and foreign delicacies on our menu now,please take a look at them")
def new_feature():
    new_row = [['Ramyeon', 1500, 40],['Rice Balls', 600, 50],['Chinese Beans', 1050, 30]]
    dff = pd.DataFrame(new_row,columns=['Food Menu','Prices(N)','Quantity'])
    return dff
new_df = IVT.append(new_feature(),ignore_index=True)
new_df

We have newer and foreign delicacies on our menu now,please take a look at them

       Food Menu  Prices(N)  Quantity
0    Jollof Rice        300       100
1     Fried Rice        400        80
2          Beans        200        65
3      Spaghetti        350        70
4     White Rice        250        50
5        Ramyeon       1500        40
6     Rice Balls        600        50
7  Chinese Beans       1050        30

In [4]:
print("These are the available foods we have: ")
new_df['Food Menu']

These are the available foods we have:

0      Jollof Rice
1       Fried Rice
2            Beans
3        Spaghetti
4       White Rice
5          Ramyeon
6       Rice Balls
7    Chinese Beans
Name: Food Menu, dtype: object

In [ ]:
def user_purchase(name,index,num_kg):
    """Computation of a user's purchase of food"""
    return (new_df['Prices(N)'].iloc[int(index)]) * int(number_kg) 

name = input('Please enter your name:')
index = input('kindly indicate the index of the food you would like to purchase:\n')
number_kg = input('Please fill in the quantity of food you would like to purchase')
print("The item purchased is {}".format(new_df['Food Menu'].iloc[int(index)]))
print("The price of food purchased is: ")


price = user_purchase(name,index,number_kg)        
price

### Receipt of Purchase

In [6]:
print("               Receipt of Purchase from Pyladies Confectionaries            ")
print("Name of User: {}".format(name))
print("Food Purchased: {}".format(new_df['Food Menu'].iloc[int(index)]))
print("Number of kg purchased is {}".format(number_kg))
print("Price of food purchased: {}".format(price))
print("Date Purchased: 16/07/2020\n")
print("\n                                                               Name of Attendant: Ruth")

               Receipt of Purchase from Pyladies Confectionaries
Name of User: Oluwabunmi Adetunji
Food Purchased: Rice Balls
Number of kg purchased is 3
Price of food purchased: 1800
Date Purchased: 16/07/2020


                                                               Name of Attendant: Ruth

In [7]:
def deduct_VAT(price_of_item):
    """Deducting 5% VAT on all purchass above 500"""
    if price > 500:
        return price + price * 5 /100
    else:
        return price
Amount_paid = deduct_VAT(price)
print("A 5% VAT has been deducted from your account because the item you purchased is above N500 hence you are charged with an amount of {}".format(Amount_paid))

A 5% VAT has been deducted from your account because the item you purchased is above N500 hence you are charged with an amount of 1890.0

In [8]:
def give_discount(price_purchased):
    """Giving a discount of 20% on all purchases above 1000"""
    if price > 1000:
        return price - price * 20 /100
    else:
        return price
Amount = give_discount(price)
print("Congratulations {}!!You've won a discount of 20% on the item you just purchased".format(name))
print("You are only charged with a token of {}".format(Amount))

Congratulations Oluwabunmi Adetunji!!You've won a discount of 20% on the item you just purchased
You are only charged with a token of 1440.0